.cats_container {
    width: 90%;
    height: 100%;
    margin: 1rem auto;
}

.cats_container-list {
    margin-top: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 0 1.5rem;

    gap: 20px;
}

.cats_container-list li {
    list-style: none;
    padding: 1rem;
    transition: transform .2s;

}

.cats_container-list li:hover{
    transform: scale(1.1);
}

.cats_container a {
    text-decoration: none;
    color: #73503C;
}

.content-list {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 20px;
}

.content-list img {
    width: 30%;
    border-radius: 0.25rem;
}

.content-list a {
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 40%;
    background: #73503C;
    padding: 0.25rem;
    border-radius: 0.25rem;
    text-decoration: none;
    align-items: center;
    color: #fff;
    text-transform: uppercase;

    transition: filter 0.2s;
}

.content-list a:hover {
    filter: brightness(0.9)
}
