.content_Home {
    width: 90%;
    height: 90vh;
    display: flex;
    margin: 1rem auto;
    align-items: center;
    
}

.text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.text h2 {
    color: #262521;
}

.text p {
    color: #73503C;
}

.text a {
    display: flex;
    justify-content: center;
    height: 3rem;
    width: 60%;
    background: #73503C;
    padding: 0.25rem;
    border-radius: 0.25rem;
    text-decoration: none;
    align-items: center;
    color: #fff;
    text-transform: uppercase;

    transition: filter 0.2s;
}

.text a:hover {
    filter: brightness(0.9)
}

.img img {
    border-radius: 8px;
    filter: blur(1px);
}