header {
    height: 4rem;

    display: flex;
    background-color: #262521;
    align-items: center;
    color: black;
}

.content {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.logo a svg {
    color: #fff;
    font-size: 2rem;
}

.menu {
    display: flex;
}

.menu li {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    color: #fff;
    gap: 10px;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    
}