header {
    height: 4rem;

    display: flex;
    background-color: #262521;
    align-items: center;
    color: black;
}

.content {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.links .adopt {
    color: #262521;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #fff;
    border-radius: 0.25rem;
    text-transform: uppercase;
    transition: background-color 300ms ease;

}

.links .adopt:hover {
    background-color: #262521;
    color: #fff;
    opacity: 0.9;
}

.logo a svg {
    color: #fff;
    font-size: 3rem;
}

.menu {
    display: flex;
}

.menu li {
    display: flex;
    list-style: none;
    font-size: 1.4rem;
    color: #fff;
    gap: 10px;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    
}